{% extends "baseauth.html" %}


{% block col1 %}
{% endblock %}

{% block col2 %}
<h1 style="text-align:center">MAGAZYN</h1>
<h3 style="text-align:center">nowa kartoteka towaru</h3>

  {% if msg %}
  <div class="alert alert-success" role="alert">
    {{ msg }}
  </div>
  {% endif %}

  {% for error in errors %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  {% endfor %}

<form method="POST">
    <div class="row p-3">
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">nazwa</span>
                <input required="True" name="name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">producent</span>
                <input required="True" name="manufacturer" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">referencja</span>
                <input required="True" name="reference" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>                              
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">stan min.</span>
                <input required="True" name="stack_min" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">zakup</span>
                <input required="True" name="buy" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <span class="input-group-text" id="inputGroup-sizing-default">zł</span>
            </div>   
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">cena</span>
                <input required="True" name="sell" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <span class="input-group-text" id="inputGroup-sizing-default">zł</span>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">opis</span>
                <input name="description" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">kod</span>
                <input required="True" name="code" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="form-check">
                <input class="form-check-input" name="used" type="checkbox" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Towar używany
                </label>
            </div>
              
        </div>
        <div style="text-align:center">
            <button class="btn mb-3" style="background:rgb(42, 209, 42)">zatwierdź</button> 
        </div> 
    </div>
</form>

{% endblock %}

{% block col3 %}
{% endblock %}price