{% extends "baseauth.html" %}

{% block title %}
  <title>.:CHEMINI:. Inwentaryzacja</title>
{% endblock %}

{% block col1 %}
{% endblock %}

{% block col2 %}
<div style="text-align:center">
  <h1><b>MAGAZYN</b></h1>
  <h4><i>Inwentaryzacja :: {{ username }}</i></h4>
</div>
{% endblock %}

{% block col3 %}
{% endblock %}

{% block script %}
<!-- js files connector -->    
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', path='inventory.js')}}"></script>
{% endblock %}